


/*@import url('https://fonts.googleapis.com/css?family=Inconsolata');*/

@font-face {
    font-family:"Inconsolata";
    src:url("./webfonts/Inconsolata-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Inconsolata";
    src:url("./webfonts/Inconsolata-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family:"frutiger-light";
    src:url("./webfonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot?#iefix");
    src:url("./webfonts/1449009/e5acedaa-f4c6-4128-8b5a-2f3f8324f09b.eot?#iefix") format("eot"),url("./webfonts/1449009/b3ca2df2-7bee-4fc0-84cb-b029b99c3b61.woff2") format("woff2"),url("./webfonts/1449009/554d0bc9-df00-45eb-993e-f62841c80ab1.woff") format("woff"),url("./webfonts/1449009/3512931d-90c5-4aa4-b0dc-3a3630c65f37.ttf") format("truetype"),url("./webfonts/1449009/f8b7e418-9dc4-4040-ac46-c50501eac7b5.svg#f8b7e418-9dc4-4040-ac46-c50501eac7b5") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:"frutiger-light";
    src:url("./webfonts/1449011/2b51737a-65e3-4d3c-b9f8-584e27727ccd.eot?#iefix");
    src:url("./webfonts/1449011/2b51737a-65e3-4d3c-b9f8-584e27727ccd.eot?#iefix") format("eot"),url("./webfonts/1449011/5dabc0f4-5497-42fb-ad16-ee2423337cb0.woff2") format("woff2"),url("./webfonts/1449011/21fc589b-c373-4c02-9c5a-66379ff223e1.woff") format("woff"),url("./webfonts/1449011/cd86b01a-7f39-480d-b238-eeb83bde04ba.ttf") format("truetype"),url("./webfonts/1449011/fa9d4094-d898-4ee0-8b97-0f12071e354a.svg#fa9d4094-d898-4ee0-8b97-0f12071e354a") format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family:"frutiger-light";
    src:url("./webfonts/1449025/418faef6-65aa-48f3-b1e1-c944af42723a.eot?#iefix");
    src:url("./webfonts/1449025/418faef6-65aa-48f3-b1e1-c944af42723a.eot?#iefix") format("eot"),url("./webfonts/1449025/c31af250-c28e-40ef-bed6-866e7ed6fedf.woff2") format("woff2"),url("./webfonts/1449025/45d6a395-278a-4303-91f8-97ddd865efab.woff") format("woff"),url("./webfonts/1449025/8ce19370-12eb-42ca-9585-370280f97596.ttf") format("truetype"),url("./webfonts/1449025/e4bcdda3-ec47-4eb5-89bb-ebd9c5eeed95.svg#e4bcdda3-ec47-4eb5-89bb-ebd9c5eeed95") format("svg");
    font-weight: bold;
    font-style: normal;
}



html, body {
  font-family: "frutiger-light" !important;
  line-height: 1.5;
  /*font-size: 150%;*/
  /*color: #5DA5DA;*/

}

.remark-slide-content {
  font-size: 25px;
  color: #4D4D4D;
}


.remark-slide-content h1 {
  /*color: #5DA5DA;*/
  color: rgb(45, 50, 56);
  /*r blue*/
  /*color: rgb(31, 101, 183);*/

  font-weight: normal;
  font-size: 45px;
  /*text-transform: uppercase;*/
}

.remark-slide-content h2 {
  color: rgb(45, 50, 56);

  /*color: rgb(31, 101, 183);*/
  font-weight: normal;
  font-size: 30px;
}

.remark-slide-content h3 {
  color: rgb(45, 50, 56);

  /*color: #4D4D4D;*/
  font-weight: normal;
  font-size: 30px;
}

.remark-slide-content a {
  color: #FAA43A;
  font-weight: normal;
}



.title-slide {
  background-color: #fff !important;
  text-shadow: none;
  background-size: cover;

  background-image: url(fig/logo-transparent.png);
  background-position: right 20px bottom 20px;
  background-size: 11%;
  border-bottom: 0px solid  #522D80;
  /*box-shadow:  0 55px 0 #fff;*/
}

.title-slide h1 {
  color: rgb(31, 101, 183) !important;
  /*color: #5DA5DA !important;*/
  /*font-weight: bold;*/
}


.title-slide .remark-slide-number {
  display: none;
}




li {
  color: rgb(31, 101, 183);
  list-style-type: square;
}

/*prevent test of being blue*/
li p {
  color: rgb(45, 50, 56);
  /*color: #4D4D4D;*/
}





.remark-slide-number {
  color: inherit !important;
  opacity: 0.9 !important;
}

.inverse {
  /*background-color: #5DA5DA;*/
  background-color: rgb(31, 101, 183);
  color: #fff;
}


.shadow {
  text-shadow: #fff 0px 0px 10px !important;
  /*text-shadow : horizontal-shadow vertical-shadow blur color;*/
}

.inverse-shadow {
  text-shadow: rgb(51, 51, 51) 0px 0px 10px;
  /*text-shadow: 2px 8px 6px rgb(0, 0, 0);*/
}


.inverse h1 {
  color: #fff;
  text-shadow: none;
}

.inverse p {
  color: #fff;
  text-shadow: none;
}

pre code {
  line-height: 1.5;
  font-family: 'Inconsolata' !important;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}


.remark-code {
  font-size: 25px;
}


.red {
  color: #EB3F43 !important;
}

.black {
  color: #4D4D4D !important;
}
.blue {
  color: #5DA5DA !important;
}
.orange {
  color: #FAA43A !important;
}
.green {
  color: #60BD68 !important;
}


.black-bg {
  background-color: #4D4D4D !important;
}
.blue-bg {
  background-color: #5DA5DA !important;
}
.orange-bg {
  background-color: #FAA43A !important;
}
.green-bg {
  background-color: #60BD68 !important;
}


.quote-author {

  font-size: 19px;
}


figcaption {
  font-size: 18px;
  /*font-weight: bold;*/
  margin-top: -8px;
}
